<page id="contact_index">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="page-header">
          <div class="row">
            <div class="col-md-12">
              <h2 class="bold center uppercase">Kontakt oss<h2>
              <p class="text-muted uppercase bold center" style="font-size:14px;">Kontaktinformasjon for bestilling eller få svar på spørsmål</p>
            </div>
          </div>
        </div>
        <div class="contact-info">
          <div class="row">
            <div class="col-md-6">
              <h4 class="bold center">Frank Burman</h4>
              <p class="center">frank@rekneskapsjobb.no</p>
              <p class="center">+47 2101455</p>
            </div>
            <div class="col-md-6">
              <h4 class="bold center">Marwen Chebil</h4>
              <p class="center">marwen@rekneskapsjobb.no</p>
              <p class="center">+47 21014456</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</page>
